#include "keyball61.dtsi"

&default_transform {
    col-offset = <9>;
    row-offset = <9>;
};

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  1, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 10)>,
                    <NRF_PSEL(SPIM_CSN,  0,  9)>;
        };

        group2 {
            psels = <NRF_PSEL(SPIM_MISO, 1, 11)>;
            input-enable;
        };
    };
};


&pro_micro_spi {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-names = "default";

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3360";
        reg = <0>;
        spi-max-frequency = <2000000>;

        irq-gpios = <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        cpi = <500>;
    };
};

&trackball_listener {
    device = <&trackball>;
    status = "okay";
};