#include "keyball61.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro 21 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 21 GPIO_PULL_DOWN>
        , <&pro_micro 20 GPIO_PULL_DOWN>
        , <&pro_micro 19 GPIO_PULL_DOWN>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        ;
};

&default_transform {
  col-offset = <7>;
};


#include <input/processors/report_rate_limit.dtsi>
#include <input/processors/xyz.dtsi>

#include "keyball61_pmw3610.dtsi"
#include "keyball61_zplit.dtsi"
&trackball_split { device = <&trackball>; input-processors = <&zip_report_rate_limit 4>, <&zip_xyz>; };